<%- include('header') -%>
<h1 style="margin-top: 20px"; style="margin-bottom: 20px;">Usuarios  (<%= modelo.length %>)</h1>
<div class="container" style="background-color: white; width: 800px; border: 3px double black; padding: 20px;">
  <form action="/buscar" method="GET">
    <div class="form-row align-items-center">
      <div class="col-auto">
        <select class="form-control" name="campo">
          <option value="Nombre">Nombre</option>
          <option value="Apellido">Apellido</option>
          <option value="tipoDocumento">Tipo de Documento</option>
          <option value="NumeroDocumento">Número de Documento</option>
          <option value="Telefono">Teléfono</option>
          <option value="Rol">Rol</option>
          <option value="Estado">Estado</option>
        </select>
      </div>
      <div class="col-auto">
        <input type="text" class="form-control" name="valor" placeholder="Valor a buscar">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-search"></i> Buscar
        </button>
      </div>
    </div>
  </form>
  <table class="table table-hover" style="margin-top: 10px;">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Tipo de Documento</th>
        <th>Número de Documento</th>
        <th>Teléfono</th>
        <th>Rol</th>
        <th>Estado</th>
        <th class="d-print-none">
          <a class="btn btn-sm btn-success" href="/crear">
            <i class="fas fa-plus-circle"></i>
          </a>
        </th>
        
      </tr>
    </thead>
    <tbody>
      <% for (const usuario of modelo) { %>
        <tr>
          <td><%= usuario.Nombre %></td>
          <td><%= usuario.Apellido %></td>
          <td><%= usuario.tipoDocumento %></td>
          <td><%= usuario.NumeroDocumento %></td>
          <td><%= usuario.Telefono %></td>
          <td><%= usuario.Rol %></td>
          <td><%= usuario.Estado %></td>
          <td class="fijo">
            <a class="btn btn-sm btn-warning" href="/editar/<%= usuario.Id_usuario %>">
              <i class="fas fa-pencil-alt"></i>
            </a>
          </td>
          <td class="fijo">
            <a class="btn btn-sm btn-danger" href="/eliminar/<%= usuario.Id_usuario %>">
              <i class="fas fa-trash-alt"></i>
            </a>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
<%- include('footer') -%>
